.container {
  width: 100%;
  padding: 8px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: auto;

  @media screen and (min-width: 767px) {
    width: 100%;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 24px;
    overflow: auto;
  }
}

.analytic-section {
  padding: 16px;
  display: grid;
  width: 100%;
  align-items: center;
  gap: 32px;
  grid-template-columns: repeat(1, minmax(0, 250px));

  @media screen and (min-width: 767px) {
    grid-template-columns: repeat(2, minmax(0, 250px));
  }

  @media screen and (min-width: 1100px) {
    grid-template-columns: repeat(3, minmax(0, 250px));
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, minmax(0, 250px));
  }
}

.metrics-section {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  width: 100%;

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    column-gap: 24px;
    justify-content: space-between;
  }
}

.chart-section {
  min-height: 300px;
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}


.top-section{
  width: 100%;
  @media screen and (min-width: 1280px) {
    width: 50%;
  }
}