.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  margin: 0 auto;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }

  .drop_area {
    width: 50%;
    height: 200px;
    padding: 20px;
    border: 2px dashed #007bff;
    border-radius: 8px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: #e0f7ff;
    }

    p {
      margin: 0;
      color: #555;
    }

    svg {
      margin-top: 10px;
      width: 48px;
      height: 48px;
      color: #949494;
    }
  }

  .preview {
    margin-top: 20px;
    text-align: center;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #555;
    }

    .controls {
      display: flex;
      align-items: center;
      gap: 10px;

      .playPause {
        // background: none;
        // border: none;
        cursor: pointer;
        // outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #1db954;
        color: white;
        
        transition: background-color 0.3s;

        &:hover {
          background-color: #1ed760;
        }

        svg {
          width: 24px;
          height: 24px;
          fill: white; /* Ensure the icon is white */
        }
      }

      .seekBar {
        width: 200px;
      }

      .time {
        font-size: 14px;
        color: #333;
      }
    }
  }

  .metadata {
    margin-top: 20px;
    text-align: left;

    h2 {
      font-size: 18px;
      margin-bottom: 10px;
      color: #555;
    }

    p {
      margin: 5px 0;
      color: #333;
    }
  }

  // button {
  //   margin-top: 20px;
  //   padding: 10px 20px;
  //   font-size: 16px;
  //   color: #fff;
  //   // background-color: #007bff;
  //   // border: none;
  //   // border-radius: 4px;
  //   cursor: pointer;
  //   transition: background-color 0.3s;

  //   &:disabled {
  //     background-color: #ccc;
  //     cursor: not-allowed;
  //   }

  //   &:hover:not(:disabled) {
  //     // background-color: #0056b3;
  //   }
  // }
}
.toast-success {
  background-color: #43a047;
  color: white;
}

.toast-failed {
  background-color: #e53935;
  color: white;
}